<%- include('../partials/header.ejs') %> 
<%- include('../partials/navbar.ejs') %> 

<h1 class="header">Manage Assignments</h1> <br> <br>
<a href="/admin/assignments/upload">Upload</a> <br><br>
<a href="/admin/assignments/submissions">View Submissions</a>

<style>
        body{
            background-color:rgb(13, 12, 12);
            color: #fff;
            font-family: 'Outfit', sans-serif;
            text-align:center;
            justify-content:center;
            align-items:center;
        }
        .header{
            color: #16e16e;
            font-size: 6rem;
            font-weight: 500;
            margin-top: 30px;
        }
        a{
            font-size: 2rem ;
            text-decoration: none;
            color: #16e16e;
        }
        a:hover{
            text-decoration: none;
            color: #1bc263; 
        }

</style>
<%- include('../partials/footer.ejs') %> 
