<%- include('../partials/header.ejs') %> 

<form id="form" method="post" action="/admin/notice">
    <input type="text" name="title" id="title" placeholder="Title" required="true">
    <br><br> 
    <textarea type="text" name="description" id="description" placeholder="Description" required="true">
    </textarea>
    <br><br>
    <button type="submit">Create Notice</button>
</form>



<%- include('../partials/footer.ejs') %> 
