    <nav>
        <a href="/dashboard">Dashboard</a>
        <a href="/assignments">Assignments</a>
        <a href="/notices">Notices</a>
        <a href="/learningplans">Lessons</a>
        <a href="/admin">Admin</a>
    </nav>  